button {
    background-color: blue;
    color: white;
    width: 120px;
    display: inline;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
header{
    background-color: lightgray;
    padding: 10px;
}

textarea{
    height: 1em;
    width: auto;
}